.App {
  text-align: center;
}

.app {
    padding: 40px 0px;
    font-size: small;
    max-width: 70vw;
    margin: 0 auto;
    background-color: #fbfbfb;    
}

.nav-item {
  padding: 20px;
}

.nav-item a, .nav-item button{
    text-decoration: none !important;
    font-size: small;
    color: floralwhite;
}

.login-user {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul { 
    display: flex;
    list-style-type: none;
    padding: 26px;
    background: #15ab78;
    font-size: small;
    align-items: center;
}

form button {
   background-color: #15ab78!important;
}

.nav-item-logout {
  background: transparent;
  border: none;
  font-weight: 600;
  cursor:pointer;
}

.user-welcome-box {
  color: floralwhite;
  display: flex;
  padding: 12px;
  font-weight: 600;
  font-size: 14px;
}
