.App {
  text-align: center;
}

.app {
    padding: 40px;
    font-size: small;
}

.nav-item {
  padding: 20px;
}

.nav-item a, .nav-item button{
    text-decoration: none !important;
    font-size: small;
    color: #535151 !important;
}

.login-user {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul { 
   display: flex;
   list-style-type: none;
    padding: 26px;
    background: #f4f4f4;
    font-size: small;
}

form button {
   background-color: #15ab78!important;
}
